body
	color: $black
	background: $white
	font-family: $opensans
	+font-smoothing
	+f(18, 24)

.out
	overflow: hidden

.inner
	position: relative
	margin: 0 auto
	padding: 0 15px
	max-width: 1170px
	+clr

.title-lg
	font-size: 36px
	font-weight: 400
	line-height: (43 / 36)
	letter-spacing: -0.02em
	color: $white

.title-md
	font-size: 32px
	font-weight: 400
	line-height: 41px
	color: $white
	letter-spacing: -0.02em
	+sm
		font-size: 22px
		line-height: 30px 
	&_gray
		color: $gray-blue

.title-xs
	font-size: 13px
	font-weight: 400
	line-height: 23px
	letter-spacing: -0.02em
	color: $indigo

.btn
	display: inline-block
	background: #9cddfa
	border-radius: 3px
	padding: 18px 38px
	color: $gray-blue
	font-size: 16px
	font-weight: 600
	text-transform: uppercase
	letter-spacing: -0.01em
	min-width: 245px
	line-height: 24px
	+sm
		padding: 9px 19px
		font-size: 14px
		line-height: 20px
		min-width: 170px
		 