$opensans: 'Open Sans', Helvetica, sans-serif

$white: #fff
$black: #000
$gray-blue: #355576
$white-blue: #d2e7fb
$blue: #1e8bf0
$light-blue: #9cddfa
$night-blue: #335578
$dark-blue: #1b6dcb
$light-gray: #677482
