<!-- Start about -->
<div class="about">
	<div class="about__bg">
		<div class="about__image" style="background-image: url(img/shakers_frontpage.png)"></div>
	</div>
	<div class="about__inner inner">
		<div class="about__wrap wrap">
			<h2 class="about__title title-md">{{ about.title }}</h2>
			<p class="about__description">{{ about.description }}</p>
			<div class="about__video">
				<iframe width="100%" src="{{about.url}}" frameborder="0" allowfullscreen=""></iframe>
			</div>
		</div>
	</div>
</div>
<!-- End about -->