<!-- Start contact -->
<div class="contact">
	<div class="contact__inner inner">
		<div class="contact__wrap">
			<div class="contact__col">
				<h2 class="contact__title title-md_gray">{{ contact.title }}</h2>
				<p>{{ contact.description | safe }}</p>
			</div>
			<div class="contact__col ">
				<div class="contact__form">
					<form method="POST" class="form js-form" onautocomplete="off">
						{% for item in form %}
						<div class="form__row">
							<label class="form__lable" for="{{ item.for }}">{{ item.label }}</label>
							<input class="form__input" id="{{ item.id }}" type="{{ item.type }}" name="{{ item.name }}" placeholder="{{ item.placeholder }}" minlength="2" {{ item.required }}>
						</div>
						{% endfor %}
						<div class="form__row">
							<label class="form__lable" for="message">{{ label }}</label>
							<textarea class="form__textarea" type="text" name="message" id="message" placeholder="{{ placehold }}"></textarea>
						</div>
						<div class="form__btn">
							<button id="btn-sub" class="btn btn-submit" type="submit">{{ button }}</button>
						</div>
						<div class="js-result">{{ result }}</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End contact -->