<!-- footer -->
{# <div class="footer js-section" data-section="contacts">
	<div class="footer__inner inner">
		<div class="footer__wrap">
			<div class="footer__text">
				<div class="footer__row">
					{% for text in footer.texts %}
						<div class="footer__col">{{text}}</div>
					{% endfor %}
				</div>
			</div>
			<div class="footer__contacts">
				<p>{{footer.contacts.title}}</p>
				<ul class="footer__soc soc">
					{% for item in footer.contacts.icons %}
						<li class="soc__item">
							<a class="soc__link" href="{{item.link}}">
								{{ mixins.icon( item.icon )}}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<nav class="footer__nav nav js-nav">
			<ul class="nav__list">
				{% for item in navigation %}
					<li class="nav__item">
						<a href="{{item.href}}" class="nav__link js-nav-link">{{item.title}}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</div> #}
<!-- ¯\_(ツ)_/¯ -->