<!-- Start hero -->
<div class="hero">
	<div class="hero__inner inner">
		<div class="hero__wrap">
			<div class="hero__col">
				<div class="hero__top">
					<h1 class="hero__title title-lg">{{ hero.title }}</h1>
					<p class="hero__description" >{{ hero.description }}</p>
					<div class="hero__btn">
						<a href="{{ hero.href }}" class="btn">{{ hero.btn }}</a>
					</div>
					<div class="hero__link-video">
						<a data-fancybox data-width="640" data-height="360" class="hero__link" href="{{ hero.link }}">{{ hero.text }}</a>	
						<svg class="hero__link-icon" xmlns="http://www.w3.org/2000/svg" width="282.62" height="282.62" viewBox="0 0 282.62 282.62"><defs><style>.cls-1{fill:none;stroke-width:3px;}.cls-1,.cls-2{stroke:#d2e7fb;stroke-linecap:round;stroke-miterlimit:10;}.cls-2{fill:#d2e7fb;stroke-width:2px;}</style></defs><title>play</title><circle class="cls-1" cx="141.31" cy="141.31" r="139.81"/><polygon class="cls-2" points="106.65 70.29 106.65 212.32 225.63 141.31 106.65 70.29"/></svg>
					</div>
				</div>
			</div>
			<div class="hero__image">
				<img src="img/hero-image.svg" alt="hero-image">
			</div>
		</div>
		<div class="hero__brends">
			<span class="info">{{ hero.info }}</span>
			<div class="brend">
				<ul class="brend__list">
					{% for item in brend %}
					<li class="brend__item">
						<a class="brend__link" href="{{ item.url }}">{{ mixins.icon( item.icon ) }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- End hero -->