<!-- Start products -->
<div class="products">
	<div class="products__inner">
		<div class="products__wrap">
				<div class="products__slider">
					<div class="slider-products">
						<div class="slider-products__row js-slider-products">
							{% for item in sliderProduct %}
							<div class="slider-products__item">
								{% if item.img %}
								<div class="slider-products__item-in" style="background-image:url(' {{ item.imgBig }} ')"></div>
								{% endif %}
								{% if item.video %}
									<iframe src="{{ item.videoHref }}" frameborder="0" controlls  allow="autoplay; encrypted-media" allowfullscreen></iframe>	
								{% endif %}
							</div>
							{% endfor %}
						</div>
						<div class="slider-products__row js-slider-nav">
							{% for item in sliderNavProduct %}
							<div class="foto-small">
								<div class="foto-small__inner" style="background-image:url(' {{ item.imgSmall }} ')">
							</div>
							</div>
							{% endfor %}
						</div>
					</div>
					<div class="block-item">
						<a href='#' class="block-item__logo"><img src="{{ logo }}" alt="logo"></a>
						<div class="block-item__text">{{ text }}</div>	
					</div>
				</div>					
			<div class="products__info">
				<div class="products__title-l title-l">
					{{ title }}
				</div>
				<div class="products__subtitle">
					{{ subtitle }}
				</div>
				<div class="products__description">
					{{ description }}
				</div>
				<div class="products__size">
					{{ parametr }}
				</div>
				<div class="products__size-value">
					{{ value}}
				</div>		
				<div class="products__vendor-code">{{ textVendorCode }}{{ VendorCode }}</div>	
				<form class="form products__form js-form is-product" action="productname">
					<div class="form__row">
						<input type="text" name="vendor" value="{{ VendorCode }}" style="display: none">
					</div>
					{% for item in form %}
					<div class="form__row">
						<label class="form__lable" for="{{ item.for }}">{{ item.label }}</label>
						<input class="form__input" id="{{ item.id }}" type="{{ item.type }}" name="{{ item.name }}" placeholder="{{ item.placeholder }}" minlength="2" {{ item.required }}>
					</div>
					{% endfor %}
					<div class="form__row">
						<label class="form__lable">{{ labelSelect }}</label>
						<div class="form__select select">
							<select class="js-select" style="width:100%" name="state" required>
								{% for item in select %}
									<option value="{{ item.value }}">{{ item.value }}</option>
								{% endfor %}
							</select>
						</div>	
					</div>
					<div class="form__row">
						<label class="form__lable" for="message">{{ label }}</label>
						<textarea class="form__textarea" type="text" name="message" id="message" placeholder="{{ placehold }}"></textarea>
					</div>
					<div class="form__btn">
						<button class="btn btn-submit js-btn-submit" type="submit">{{ button }}</button>
					</div>
					<div class="success js-success">{{ success }}</div>
					<div class="success-error js-success-error">{{ senterror }}</div>
				</form>
			</div>				
		</div>
	</div>
</div>
<!-- End products -->