<!-- begin shakers -->
<div class="shakers">
	<div class="shakers__top">
		<h2 class="shakers__title title-md title-md_gray">{{ shakers.title }}</h2>
		<div class="shakers__img">
			<img src="{{ shakers.img }}" alt="{{ shakers.logo }}">
		</div>
	</div>
	<div class="shakers__in">
		<div class="shakers__content js-block-dropdown">
			{% for item in shakers.filters %}
			<div class="shakers__col js-dropdown">
				<h5 class="shakers__subtitle title-sm">{{ item.title }}</h5>
				<button class="shakers__button-mob shakers__dropdown js-dropdown-btn">{{ item.subtitle }}</button>
				<div class="shakers__button-group button-group js-filters js-dropdown-wrap"> 		
					{% for item in item.tags %}
						<button class="shakers__button js-btn-filters{% if item.class %} {{ item.class }}{% endif %}" data-filter="{{item.attr}}">{{ item.name }}</button>
					{% endfor %}
				</div>
			</div>	
			{% endfor %}
		</div>
		<div class="shakers__inner">
			<div class="shakers__grid grid js-grid">
				{% for product in shakers.products %}
				<div class="grid__col js-grid-col {{ product.classes }}">
					<div class="grid__item item" data-category="{{ product.category }}">
						<div class="item__img">
							<img src="{{ product.img }}" alt="{{ product.alt }}">
						</div>
						<div class="item__info">
							<div class="item__title">{{ product.title }}</div>
							<div class="item__capacity">{{ product.capacity }}</div>
						</div>		
					 </div>
				</div>	
				{% endfor %}
			</div>
		</div>		
	</div>
</div>
<!-- end shakers -->