.header
	padding: 33px 0
	&__inner
		position: relative

.logo
	position: relative
	z-index: 10
	float: left
	font-size: 0
	img
		width: 100%
		display: block

.btn-nav
	position: absolute
	z-index: 10
	display: none
	+sm
		display: block
	&.is-active
		span
			width: 19px
			&:nth-child(1)
			&:nth-child(2)
			&:nth-child(3)
	span
		position: absolute
		&:nth-child(1)
			transform-origin: left top
		&:nth-child(2)
			transform-origin: left center
		&:nth-child(3)
			transform-origin: left bottom


.nav
	float: right
	