.shakers
	&__top
		display: flex
		max-width: 788px
		padding: 80px 15px 75px 
		margin: 0 auto
		+sm
			flex-direction: column
			align-items: center
			padding: 40px 15px 37px  
	&__title
		padding-top: 35px
	&__img
		width: 58.36%
		+sm
			order: -1
		img
			width: 100%
	&__in
		max-width: 901px
		padding: 0 35px 
		margin: 0 auto
		+sm
			padding: 0 15px
	&__content
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		margin-bottom: 92px
		+r(870)
			display: block
			margin-bottom: 40px
			text-align: left
	&__content-mob
		display: none
		+r(870)
			display: block
			margin-bottom: 40px
			text-align: left
	&__col
		position: relative
		margin-right: 15px
		margin-bottom: 14px
		&:last-child
			margin-right: 0	 
		+r(870)
			margin-right: 0
			margin-bottom: 20px
	&__subtitle
		margin-bottom: 12px
	&__button-group
		border: 1px solid $blue
		font-size: 0
		border-radius: 3px
		overflow: hidden
		position: relative
		+r(870)
			position: absolute
			opacity: 0
			visibility: hidden
			z-index: 10
			margin-top: -1px
			transition: opacity 0.3s, visibility 0.3s
			border: 1px solid #1e8bf0
			border-radius: 0 0 3px 3px
			border: 1px solid $blue
			font-size: 0
			width: 100%
			top: 100%
			.is-open &
				opacity: 1
				visibility: visible
	&__button
		color: $blue
		background: white
		overflow: hidden
		padding: 11px 8px 11px
		font-size: 10px
		line-height: 10px
		+r(870)
			width: 100%
			text-align: left
		&.is-checked
			background: $blue
			color: $white
			padding: 11px 13px
	&__button-mob
		display: none
		+r(870)
			padding: 11px 10px
			font-size: 10px
			line-height: 10px
			display: block
			width: 100%
			text-align: left
			position: relative
			border: 1px solid $blue
			border-radius: 3px
			color: $blue
			background: white
			padding: 11px 10px 11px
			.is-open &
				border-radius: 3px 3px 0 0
			.is-checked &
				background: $blue
				color: $white
				padding: 11px 13px
			&:after
				content: ''
				position: absolute
				top: 50%
				transform: translateY(-50%)
				right: 10px
				+arr(10,5, $blue, b)
				.is-open &
					+arr(10,5, $blue, t)
	&__inner
		width: 100%
		margin-top: -14px 

.grid
	+sm
		margin: 0 auto
	&__col
		padding: 10px
		margin-bottom: 50px
		width: 160px
		+sm
			margin-bottom: 35px
	&__link
		display: block	

.item
	display: flex
	flex-direction: column
	justify-content: flex-end
	align-items: center
	height: 322px
	&__img
		max-width: 145px
		img
			margin: auto 0 23px
			max-width: 100%
			max-height: 264px
			display: block
	&__info
		width: 100%
		text-align: center
	&__title
		font-size: 15px
		line-height: 15px
		color: $night-blue
		font-weight: 400
		letter-spacing: -0.08em
		margin-bottom: 3px
	&__capacity
		font-size: 14px
		line-height: 17px
		font-weight: 400
		letter-spacing: -0.01em
		color: $light-gray 


	
