.icon-bulk {
  width: 2.31em;
  height: 1em;
  fill: carrentColor;
}
.icon-chevron {
  width: 1.75em;
  height: 1em;
  fill: carrentColor;
}
.icon-foodfirst {
  width: 4.16em;
  height: 1em;
  fill: carrentColor;
}
.icon-maxbody {
  width: 6.32em;
  height: 1em;
  fill: carrentColor;
}
.icon-on {
  width: 2.46em;
  height: 1em;
  fill: carrentColor;
}
.icon-sts {
  width: 2.91em;
  height: 1em;
  fill: carrentColor;
}
.icon-topwell {
  width: 2.33em;
  height: 1em;
  fill: carrentColor;
}
