.icon-chevron {
  width: 1.75em;
  height: 1em;
  fill: carrentColor;
}
.icon-facebook {
  width: 0.59em;
  height: 1em;
  fill: carrentColor;
}
.icon-in {
  width: 0.89em;
  height: 1em;
  fill: carrentColor;
}
.icon-twitter {
  width: 1.2em;
  height: 1em;
  fill: carrentColor;
}
